<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cesium 学习 </title>
  <link rel="stylesheet" href="../lib/Cesium-1.45/Build/Cesium/Widgets/widgets.css">
  <script src="../lib/Cesium-1.45/Build/Cesium/Cesium.js"></script>
  <link rel="stylesheet" href="./css/index.css">
  <script src='../lib/jquery-3.3.1.min.js'></script>
</head>

<body>
  <div id="cesiumContainer"></div>
  <div id="flightList">
    <div class='title'>
      <span class='title-header title-id'>序号</span>
      <span class='title-header title-flightNumber'>航班号</span>
      <span class='title-header title-start'>出发</span>
      <span class='title-header title-arrival'>到达</span>
      <span class='title-header title-type'>型号</span>
      <span class='title-header title-status'>状态</span>
      <!-- <span class='title-header '> </span> -->
    </div>
    <div class='list'>
      <div class='list-content'>

      </div>
    </div>
  </div>
  <script src="./src/config.js"></script>
  <script src="./src/index.js"></script>
</body>

</html>
